# OS files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Datasets
*.csv

# ML models
*.pkl
*.safetensors